.container {
    display: grid;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto); 
    height: 500px;
    width: 500px;
}

.square {
    border: 1px solid white;
}

html {
    background-color: black;
}