.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -55%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    grid-column-gap: 15px;
}

.container {
    display: grid;
    height: 300px;
    width: 300px;
    background-color: #d3d3d3;
}

button {
    display: block;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    justify-self: end;
    align-self: end;
}

html {
    background-color: black;
}